body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}



.contentAll {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #bfbfbf;
  border: 1px solid #bfbfbf;
  width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 50px;
}


/*#data::before {
    content: "Дата рождения:ᅠ";
}*/

#btnsubmit{
  outline: none;
  border: 1px solid #e5e6ea;
  background-color: #e5e6ea;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  height: 50px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  font-family: "Open Sans";
  color:black;
}



#btnsubmit:hover {
  background-color: #8a8a8a;
  border: 1px solid #8a8a8a;
  transition: background-color .3s ease;
}

#name,#mail,#data,#Abilit,#Biograph{
  width:99%!important;
  height:40px;
  line-height: 20px;
  font-size: 14px;
  font-family: "Open Sans";
  margin-bottom:15px;
  color:#68676c;
  background-color: #e5e6ea;
  border: 1px solid #e0dddd;
  outline: none;
}

#Abilit {
  height: 100px;
}
#Biograph{
  height: 107px;
}

.error {
  border: 2px solid red !important;
}

